body{
    font-family: 'Poppins', sans-serif;
}
.banner-carosel{
    background-color: #f5d7f2;
}
.carousel-item .row{
    height: 450px;
}
.carousel-item .row h1{
    padding-bottom: 10px;
}
.carousel-item .row .btn{
    margin-top: 10px;
}
.catago{
    
}
